.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

.hover:hover {
	background: #d3d3d3;
}

.g-signin2 {
	margin-left: 50px;
}
