
<%- include("./partials/header") %>
<div class="row">
    <h1 style="text-align: center"><i class="fas fa-campground"></i> YelpCamp</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastName" placeholder="Last Name">
            </div>	
            <div class="form-group">
                <input class="form-control" type="text" name="avatar" placeholder="Avatar Image Url">
            </div>					
		    <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
           <h2 style="text-align: center; color:#808080;">OR</h2> 
            <div  class="g-signin2" data-width="250" data-height="58" data-onsuccess="onSignIn" class="form-group" >
            </div>
        </form>
        <hr>
        <span style="margin-left: 70px;">Already have an account? <a href="/login">Login</a></span>
    </div>
</div>
<script>
    function onSignIn(googleUser){
        var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
         // The ID token you need to pass to your backend:
         var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
    }
  function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
</script>
<%- include("./partials/footer") %>